{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.pages {
    font-family: "Segoe UI", sans-serif;
    background-color: #cfe0ee;
    color: #333;
}


.container {
    width: 1100px;
    margin: 0 auto;
}

.header {
    background-color: #1f4ed8;
    padding: 20px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__logo-img {
    width: 30px;
}

.nav__list {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.9;
}

.nav__link:hover {
    opacity: 1;
}


.header__button {
    background-color: #9ec5ff;
    border: none;
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
}


.content__hero {
    background-color: #1f4ed8;
    padding-bottom: 120px;
}

.content__hero-img {
    display: block;
    width: 900px;
    margin: 50px auto -80px;
    border-radius: 12px;
}


.main__inner {
    background-color: #eaf3fb;
    padding: 30px;
    border-radius: 12px;
    margin-top: -60px;
}


.main__inner h2 {
    margin-bottom: 20px;
    font-size: 20px;
}

.photos {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.photos__img {
    width: 120px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
}

.main__text {
    font-size: 13px;
    line-height: 1.7;
    margin-bottom: 15px;
    color: #555;
}


.main__button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.main__button-link {
    background-color: #1f4ed8;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.main__button-link:hover {
    background-color: #173bb0;
}


\.footer {
    background-color: #1f4ed8;
    padding: 20px 0;
    margin-top: 30px;
}      
.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 14px;
}